<html>
    <body>
    <p>Er is een nieuw contactformulier ingevuld door <strong>{{ name }}</strong>!</p>
    <p>
    Naam: {{ name }}<br/>
    Email: {{ email }}<br/>
    Telefoon: {{ telephone }}<br/>
    Bericht: {{ message }}</p>
    </body>
</html>